footer {
  border-style: dashed !important;
  
}
#payment {
  color: brown;
  
}

#payment2 {
  color: #003366;
}

#payment3{
  color: red;
}

#payment4{
  color: olive;
  
}

#payment5{
  color: rgb(0, 204, 102);
}

#payment6{
  color: #ff9900;
}

